.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}

/* .form {
  border: 1px solid red;
} */

.input {
  width: 400px;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.btn {
  padding: 9px 12px;
  border: 1px solid rgb(6, 6, 65);
  border-radius: 4px;
  background-color: rgb(6, 6, 65);
  color: white;
  margin-left: 8px;
}

.btn:hover {
  cursor: pointer;
}

.todos {
  margin-top: 30px;
  width: 600px;
}

.todo {
  padding: 8px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo p {
  color: rgb(6, 6, 65);
}

.todoBtn {
  padding: 4px 6px;
  margin-left: 8px;
  background-color: rgb(6, 6, 65);
  border: 1px solid rgb(6, 6, 65);
  border-radius: 4px;
  color: white;
}

.todoBtn:hover {
  cursor: pointer;
}